<h2>Список заметок</h2>

<!--Передаем на главную страницу список todos. 
Если в todo что-то есть, то рендерим-->
{{#if todos.length}}
<!--Оборачиваем в список-->
<ul>
<!--Итерируем массив -->
    {{#each todos}}
    <li class="todo">
        <!--Оборачиваем в форму, чтобы работали действия  -->
        <form action="complete" method="POST">
        <label>
            <!--Если todo выполнен, то зачеркиваем его -->
            {{#if completed}}
                <input type="checkbox" checked name="completed">
                <span class="completed">{{title}}</span>
            {{else}}
                <input type="checkbox" name="completed">
                <span>{{title}}</span>  
            {{/if}}

            <!--Определяем с каким todo работаем -->
            <input type="hidden" value="{{_id}}" name="id"> 

            <!--Для отправки формы задаем кнопке type="submit" -->
            <button class="btn btn-small" type="submit">Сохранить</button>
        </label>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No todos</p>
{{/if}}